header
{
    text-align: center;
}

header img
{
    height: 200px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

header div
{
    display: inline-block;
    margin: auto;
	width: 10em;
	font-size: 1.3em;
	border: 4px ridge black;
	border-radius: 1em;
	padding: 0.25em;
    background-color: grey;
}

div a
{
    width: 300px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

table
{
    margin: auto;
}

td
{
    text-align: center;
}

td img
{
    width: 400px;
    height: 250px;
}

article p
{
    margin: auto;
    text-align: justify;
    max-width: 1000px;
}

footer
{
    color: black;
    background-color: cornflowerblue;
    text-align: center;
}
@keyframes egszin
{
    25%
    {
        background-color: yellow;
    }
    50%
    {
        background-color: lightyellow;
    }
    75%
    {
        background-color:yellow;
    }
    100%
    {
        background-color: lightyellow;
    }
}

body
{
    animation-name:egszin;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in;
}